@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:400,600&display=swap');


$blue: #9EE1FF;
$coral: #FF8A7A;
$coral-dark: #E86F60;
$blue-dark: #162126;
$blue-feature: #1C3540;
$blue-lighter: #DDF5FF;
$font-family-fredoka: "Fredoka One", cursive;

$theme-colors: (
  "primary": $coral,
  "blue": $blue,
  "blue-dark": $blue-dark,
  "blue-feature": $blue-feature,
  "blue-lighter": $blue-lighter,
  "coral": $coral,
  "coral-dark": $coral-dark,
);


.font-fredoka {
  font-family: "Fredoka One", cursive
}



@import "../node_modules/bootstrap/scss/bootstrap";
