@charset "utf-8";
@import "custom.scss";

body {
  font-size: 1.25rem;
}

.header-container {
  min-height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .download-btn {
    background: $coral;
    border-radius: 32px;
    color: #fff;
    padding: 4px 18px;
    &:hover {
      background: $coral-dark;
    }
  }
  .install-btn {
    font-family: $font-family-fredoka;
    color: #000;
    position: absolute;
    top: 32px;
    right: 32px;
  }
}

.install-container {
  .install-instructions {
    font-size: 1.25rem;
    line-height: 52px;
  }
}

.yt-container {
  margin-top: 112px;
}
.yt-iframe {
  width: 100%;
}

.notification {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 12px 18px;
  border-radius: 12px;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all 0.4s;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

  img {
    margin-right: 22px;
    width: 58px;
  }

  p {
    text-align: left;
    margin: 0;
    font-size: 1rem;
    white-space: pre-line;
  }

  &.hide {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@media only screen and (max-width: 600px) {
  .install-btn,
  .notification {
    display: none;
  }
}
