.featured {
  background-color: #1C3540;
  color: #DDF5FF;
  padding: .8rem;
}

.height {
  height:100%;
}
.box-outer {
  float: right;

}

.box {
  width: 23rem;
  padding: 0.8rem;
  background-color: #F9F9F9;
  border-radius: 1rem !important;
}

/****** media ********/
.hero {
  background-size: cover;
  background-repeat: no-repeat;
}

.smile {
  width: 10rem;
}

.responsive {
  padding-left: 4rem;
  padding-right: 4rem;
  width: 100%;
  height: auto;
}

.text-padding {
  padding-left: 3rem;
}

li {
  margin: 3rem 0;
}

footer {
  background-color: #9EE1FF !important;
  padding: 2rem 1rem 4rem !important;
}
